html,
body,
#viewDiv {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgray;
}

.esri-container {
  border-radius: 1rem;
  margin-top: 1rem;
}

.navbar-shadow {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.howto-text {
  margin-top: 1rem;
  color: grey;
}
