<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Safe GaTech</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" type="text/css">

  <script src="https://js.arcgis.com/4.13/"></script>
  <script src="{{ url_for('static',filename='esri.js') }}"></script>
</head>
<body>
  <nav class="navbar navbar-light bg-light navbar-shadow">
    <div class="container">
      <a class="navbar-brand">
        <img src="{{ url_for('static',filename='img/shield_no_bg.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        Safe Ga.Tech
        <!-- <span class="navbar-brand mb-0 h1">Safe Ga.Tech</span> -->
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div id="viewDiv" class="esri-map" style="height: 640px; margin-top: 2rem; box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);"></div>
      <div class="howto-text">To find a path around the crime, click the map once for where you are, and again for your destination.</div>
    </div>
  </div>
</body>
</html>
